* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

:root {
    --left-container-width: 38%;
    --right-container-width: 62%;
}

@font-face {
    font-family: "Norse Bold";
    src: url(/home/vboxuser/Downloads/Norse-Bold.otf);
}

body {
    display: flex;
    height: 100%;
    margin-left: 19%;
    margin-right: 19%;
    position: relative;
}


.left-container {
    width: var(--left-container-width);
    height: 100%;
    background-image: url(/home/vboxuser/Downloads/halie-west-25xggax4bSA-unsplash.jpg); 
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 45%;
    position: relative;
}

.logo-banner, .logo {
    height: 125px;
    width: 100%;
    position: absolute;
    top: 183px;
}

.logo-banner {
    background-color: black;
    opacity: 50%;
}

.logo {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 10px;
    margin-bottom: 5px;
    max-height: 84%; 
    max-width: 84%;
}

.logo-text {
    font-family: "Norse Bold";
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 78px;
}

.credit {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    font-size: 13px;
    text-align: center;
}

.credit > p {
    width: 100%;
    position: absolute;
    bottom: 9px;
}

span {
    text-decoration: underline;
}

.right-container {
    width: var(--right-container-width);
    height: 100%;
}

form {
    height: 100%;
}

.top, .middle, .bottom {
    padding-left: 42px;
    padding-right: 45px;
}

.top {
    min-height: 36%;
    background-color: white;
    background-color: rgb(244, 244, 244);
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.top p {
    width: 90%
}

.top > .first {
    padding-top: 135px;
}

.top > .second {
    padding-top: 23px;
}

.middle {
    min-height: 29%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.middle > .header-text {
    width: 100%;
    margin: 15px 0 17px 2px;
}

.form-row {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-right: 48px;
    justify-content: center;
}

.form-row label {
    font-family: 'Lato', sans-serif;
    font-size: 10.4px;
    color: rgb(70, 64, 64);
    font-weight: 700;
    letter-spacing: .06rem;
}

.form-row input {
    width: 210px;
    background-color:  rgb(253, 253, 253);
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.form-row .error {
    border: 1px solid red;
    position: relative;
}

.form-row > span::after {
    font-size: 0.75rem;
    color: red;
    position: absolute;
    content: "*Passwords do not match"
}

.form-row input:focus {
    border: 1px solid rgb(47, 127, 247);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
}

.form-row input:focus-visible {
    outline: 1px solid rgb(47, 127, 247);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
}

.bottom {
    min-height: 35%;
    background-color:  rgb(244, 244, 244);
    box-shadow: inset rgba(0, 0, 0, 0.12) 0px 10px 7px -6px;
}

button {
    margin-top: 30px;
    margin-left: 2px;
    margin-bottom: 28px;
    background-color: #596D48;
    color: white;
    padding: 12px 46px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.bottom p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.log-in {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}